.header {
  display: flex;
  align-items: center;
  height: 0px !important;
  min-height: 64px !important;
}

.header a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header .logo {
  max-height: 32px;
  height: 32px;
  width: 32px;
}

.header .title-group {
  padding-left: 25px;
}

.header .title-group i {
  padding-right: 5px;
}

.header .title-group a {
  color: #fff;
}
